*{
    margin: 0;
    padding: 0;
    max-width: 1920px;
}
.container{
    margin-left:70px;
    margin-right: 70px;
}
.main{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
   
    
}
.LIFESTYLE{
    color: blue;
    font-size: small;
}
.rating{
    display: flex;
    align-items: center;
}
.rating div{
    padding-right: 50px;
}
.rating p{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.checked{
    color: orange;
}
.size_color{
    display: flex;
}
.color{
    align-items: center;
    padding-right: 50px;
    align-content: center;
}
.dot1{
    height: 25px;
    width: 25px;
    background-color:blue;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
  }
  .dot2{
    height: 25px;
    width: 25px;
    background-color: skyblue;
    border-radius: 50%;
    display: inline-block;
  }
  .dot3{
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
  .dot4{
    height: 25px;
    width: 25px;
    background-color:orange;
    border-radius: 50%;
    display: inline-block;
  }
  .size_no{
      padding-right: 20px;
  }
  .pricing{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      padding-right: 10px;

  }
  .pricing p{
      font-size: small;
      padding-top: 5px;}

  label{
      background-color: black;
      color: white;
  }
 
  button{

      height: 40px;
      width: 80px;
      border-radius: 30px;
      align-items: center;
      align-content: center;
    
  }
  .button1{
      display: flex;
      justify-content: space-evenly;
      background-color: white;
      
  }
  .button2{
      background-color: blue;
      color: white;
  }
  .main_right{
      display: flex;
      align-items: center;
  }
  .big_image{
      margin-top: 20px;
      margin-right: 40px;
  }
  .main_right aside{
      float: right;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      

  }
  
  .collection div{
    
    box-sizing: border-box;
    border: 1px solid black;
  }
  .main_left_last{
      display: flex;
      align-items: center;
  }
  .copy{
      background: transparent;
      padding-right: 20px;
  }
  .like{
      background: transparent;
      padding-right: 20px;
  }
  .review_header{
      box-sizing: border-box;
      align-items: center;
      padding: 10px;
  }
  .review_header span{
      padding-right: 50px;
      font-size: smaller;
  }
  .review{
      
    background-color: rgb(243, 236, 236);
    display: flex;

    padding: 70px;
    
      
  }
  .review_no{
      padding-left: 10px;
      color: blue;
  }
  .review aside{
      float: right;
      width: 50%;

  }
  .review aside span{
      display: flex;
      align-items: center;
      text-align: right;
  }
      
  .review_left{
      margin-right: 50px;
      display: flex;
      flex-direction: column;
      flex: 0.6;
  }
  .reviewed_comment{
      margin-top: 30px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      
      
      
  }
.reviewed_comment img{
    border-radius: 50%;
}
.reviewed_comment h2{
    align-items: center;
    transform: translateY(-80px);
    margin-left: 100px;
    width: 150px;
}
.star{
    align-items: center;
    transform: translateY(-70px);
    margin-left: 100px;
    width: 100px;


}
.comment{
    margin-left: 50px;
    
}
.comment p{
    
    opacity: 0.8;
}
.like{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.percent{
    padding-left: 10px;
}
.no_of_reviews{
    padding-left: 20px;
}
.review_end{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page_no span{
    padding-left: 10px;

}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .similar{
      background-color: black;
      color: #ffffff;
      padding: 30px;
      align-items: center;
      width: 25%;
      height: 250px;
      box-sizing: border-box;
      border: 1px solid grey;

  }
  .similar p{
      padding-top: 30px;
  }
  .row1{
      display: flex;
      flex-wrap: wrap;
  }
  .right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

  }
  .btn_more_product{
      background: transparent;
      border: transparent;
      color: white;
      margin-top: 20px;
  }
  .btn_more_product i{
    border: white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .item{
      padding: 30px;
      align-items: center;
     align-content: center;
      height: 250px;
      width: 25%;
      box-sizing: border-box;
      border: 1px solid grey;
  }
  .item h3{
      padding-top: 30px;
  }
.item p{
    color: blue;
    border: grey;
    padding-top: 10px;
}
.row2{
    display: flex;
    flex-wrap: wrap;
}